Repository PelicanPlatform/pelican, pull requests merged in 2024-04, with the labels that each got.

#992 More verbose error message at director registration failure
  director/director.go
  director/director_test.go
  director/origin_api.go
  director/origin_api_test.go
Labels: enhancement, director

#987 Periodic cleanup of origin test files
  launchers/origin_serve.go
  origin/origin_api.go
Labels: bug, critical, origin

#994 Output pelican config to stderr at server start
  config/config.go
  launchers/launcher.go
Labels: enhancement

#1016 More detailed error message at `WaitUntilWorking` not working
  server_utils/server_utils.go
Labels: enhancement

#1009 Update Prometheus doc to introduce counting server number
  docs/pages/prometheus.mdx
Labels: documentation

#1007 Cache hit/miss bytes Prometheus metric
  metrics/xrootd_metrics.go
  xrootd/resources/xrootd-cache.cfg
Labels: enhancement, cache

#1023 Fix invalid error message type as server response
  registry/registry_ui.go
Labels: bug, critical, registry

#1022 Pin external c++ dependencies at a specific commit
  images/Dockerfile
  images/dev.Dockerfile
Labels: infrastructure, container

#1031 List namespace topology through UI
  registry/registry_db.go
  registry/registry_ui.go
  web_ui/frontend/app/api/docs/pelican-swagger.yaml
Labels: enhancement, registry

#1034 Add server urls to error messages for `WaitUntilWorking`
  server_utils/server_utils.go
  server_utils/server_utils_test.go
Labels: enhancement, critical

#1027 Print pelican version at server startup to stderr
  .goreleaser.yml
  cmd/main.go
  cmd/main_test.go
  cmd/object_copy.go
  cmd/plugin.go
  config/config.go
  launchers/launcher.go
Labels: enhancement, critical

#991 Do not log "director test timeout" warning if director can't be reached out
  metrics/health.go
  server_utils/monitor.go
Labels: bug, cache, origin

#1013 Add "login required" endpoints behind "admin" check and fix bug in admin auth handler
  web_ui/authentication.go
  web_ui/authentication_test.go
  web_ui/frontend/app/api/docs/pelican-swagger.yaml
  web_ui/ui.go
Labels: bug, critical

#1012 Add support for director/federation contact info as a configuration
  director/director_ui.go
  docs/pages/serving_a_federation.mdx
  docs/parameters.yaml
  launchers/director_serve.go
  param/parameters.go
  param/parameters_struct.go
  web_ui/frontend/app/api/docs/pelican-swagger.yaml
Labels: enhancement, director

#1041 Fix error responses for local cache
  cache/advertise.go
  client/handle_http.go
  client/handle_http_test.go
  client/main.go
  cmd/cache_serve.go
  cmd/director_serve.go
  cmd/fed_serve.go
  cmd/fed_serve_cache_test.go
  cmd/fed_serve_test.go
  cmd/origin_serve.go
  cmd/plugin.go
  cmd/plugin_test.go
  cmd/registry_serve.go
  daemon/launch_unix.go
  fed_test_utils/fed.go
  launchers/cache_serve.go
  launchers/launcher.go
  launchers/origin_serve.go
  local_cache/cache_api.go
  local_cache/cache_test.go
  local_cache/local_cache.go
  origin/advertise.go
  server_structs/xrootd_server.go
  xrootd/launch.go
  xrootd/origin_test.go
Labels: enhancement, client, cache

#1038 Refactor registry namespace check to be compatible with OSDF topology
  director/director.go
  director/origin_api.go
  launcher_utils/advertise.go
  launcher_utils/register_namespace.go
  launchers/cache_serve.go
  launchers/launcher.go
  launchers/origin_serve.go
  metrics/health.go
  origin/origin.go
  registry/client_commands.go
  registry/client_commands_test.go
  registry/registry.go
  registry/registry_db.go
  registry/registry_db_test.go
  registry/registry_ui.go
  registry/registry_ui_test.go
  registry/registry_validation.go
  registry/registry_validation_test.go
  web_ui/frontend/app/api/docs/pelican-swagger.yaml
  web_ui/frontend/components/StatusBox.tsx
Labels: bug, critical, registry

#1040 More error tolerant web ui check
  broker/broker_test.go
  cmd/fed_serve_cache_test.go
  cmd/fed_serve_test.go
  cmd/plugin_test.go
  fed_test_utils/fed.go
  launchers/launcher.go
  server_utils/server_utils.go
  server_utils/server_utils_test.go
  xrootd/origin_test.go
Labels: bug, critical, registry

#968 Add support for custom xrootd config file
  config/config.go
  docs/parameters.yaml
  param/parameters.go
  param/parameters_struct.go
  xrootd/resources/xrootd-cache.cfg
  xrootd/resources/xrootd-origin.cfg
  xrootd/xrootd_config.go
Labels: enhancement, cache, origin

#1063 Correctly return the transfer attempt information
  client/errorAccum.go
  client/fed_test.go
  client/handle_http.go
  client/main.go
  cmd/plugin.go
  local_cache/cache_test.go
Labels: bug, client, critical

#1070 Move default S3 url style from defaults.yaml to config.go
  cmd/origin.go
  config/config.go
  config/resources/defaults.yaml
Labels: bug, critical

#1042 Update Origin UI to use API for the new `Origin.Exports` scheme
  launchers/origin_serve.go
  origin/origin_ui.go
  server_structs/director.go
  server_utils/origin.go
  web_ui/frontend/app/api/docs/pelican-swagger.yaml
  web_ui/frontend/components/DataExportTable.tsx
Labels: bug, origin

#963 Enabling OAuth for the origin and cache, adding support for Globus as another auth server
  broker/client.go
  cache/self_monitor.go
  client/get_best_cache.go
  client/handle_http.go
  config/issuer_metadata.go
  config/oidc_metadata.go
  director/monitor.go
  director/origin_api.go
  director/stat.go
  docs/pages/serving_a_federation.mdx
  docs/parameters.yaml
  generate/param_generator.go
  launcher_utils/advertise.go
  launcher_utils/register_namespace.go
  launchers/launcher.go
  launchers/registry_serve.go
  oa4mp/serve.go
  oauth2/dcrp.go
  oauth2/device_auth.go
  oauth2/oidc_client.go
  param/parameters.go
  param/parameters_struct.go
  registry/registry.go
  registry/registry_ui.go
  server_utils/test_file_transfer.go
  token/token_create.go
  utils/web_utils.go
  web_ui/authentication.go
  web_ui/authentication_test.go
  web_ui/frontend/app/api/docs/pelican-swagger.yaml
  web_ui/oauth2_client.go
  web_ui/ui.go
  xrootd/authorization.go
Labels: enhancement, critical, origin

#1077 Only push the production container when the release was cut
  .github/workflows/build-prod-container.yml
  .github/workflows/pre-release.yml
Labels: critical, container

#1083 Cache Updates
  web_ui/frontend/app/cache/layout.tsx
  web_ui/frontend/app/cache/page.tsx
Labels: critical, cache

#1071 Fix broken URLs of namespaces from the topology at the director
  director/advertise.go
Labels: bug, critical, director

#958 Add support for HTTP backend
  client/director_test.go
  client/fed_linux_test.go
  client/fed_test.go
  client/handle_http_test.go
  cmd/main.go
  config/config.go
  config/resources/defaults.yaml
  docs/parameters.yaml
  fed_test_utils/fed.go
  github_scripts/osx_install.sh
  github_scripts/pelican_protocol.patch
  launchers/cache_serve.go
  launchers/cache_serve_windows.go
  launchers/launcher.go
  launchers/origin_serve.go
  local_cache/cache_test.go
  origin/advertise.go
  origin/origin_ui.go
  param/parameters.go
  param/parameters_struct.go
  server_utils/origin.go
  server_utils/origin_test.go
  xrootd/authorization.go
  xrootd/authorization_test.go
  xrootd/fed_test.go
  xrootd/launch.go
  xrootd/origin_test.go
  xrootd/resources/test-https-origin.yml
  xrootd/resources/xrootd-cache.cfg
  xrootd/resources/xrootd-origin.cfg
  xrootd/xrootd_config.go
  xrootd/xrootd_config_test.go
Labels: origin

#1087 Turn off LotMan while we investigate dlopen issues
  lotman/lotman.go
  lotman/lotman_linux.go
  lotman/lotman_test.go
  lotman/lotman_ui.go
  web_ui/frontend/package-lock.json
Labels: bug, critical

#1085 Set the largest semantic version tag to the latest image
  .github/workflows/build-prod-container.yml
Labels: infrastructure, critical

#1089 Revise documentation on running Pelican servers in docker container
  docs/pages/install/docker.mdx
  docs/pages/serving_an_origin.mdx
Labels: documentation, container

#1096 Fix empty namespace in error message when cache is not approved
  launcher_utils/advertise.go
Labels: bug, cache

#1078 Add docs to get the public key from the origin
  docs/pages/serving_an_origin.mdx
Labels: documentation, origin

#1119 Replace `jwks.cache` by TTL cache for namespace jwks at the director
  director/director.go
  director/director_api.go
  director/director_test.go
  director/origin_api.go
  director/origin_api_test.go
  utils/web_utils.go
Labels: bug, critical, director

#1086 Update origin documentation, including first pass at S3 config
  docs/pages/serving_an_origin.mdx
  docs/parameters.yaml
Labels: documentation

#1133 Add Prometheus metric for number of advertisement the director receives
  director/director.go
  metrics/director.go
Labels: enhancement, director

#1117 Token federation check fall back to use director URL
  director/discovery.go
  director/discovery_test.go
  server_structs/director.go
  token/token_verify.go
  token/token_verify_test.go
Labels: bug, test, cache

#1135 Fix token creation CLI flags and add new key creation warning
  cmd/origin.go
  cmd/origin_token.go
  config/init_server_creds.go
Labels: bug

#1146 Add `sssd` user to `osdf-origin` image
  images/Dockerfile
Labels: critical, container

#1067 Standardize API JSON response
  director/director.go
  director/director_test.go
  director/director_ui.go
  director/discovery.go
  local_cache/cache_api.go
  lotman/lotman_ui.go
  oa4mp/proxy.go
  registry/client_commands.go
  registry/registry.go
  registry/registry_db_test.go
  registry/registry_ui.go
  registry/registry_ui_test.go
  server_utils/monitor.go
  swagger/pelican-swagger.yaml
  web_ui/authentication.go
  web_ui/authentication_test.go
  web_ui/authorization.go
  web_ui/oauth2_client.go
  web_ui/ui.go
Labels: enhancement

#1150 Enable OAuth for the director
  docs/parameters.yaml
  launchers/launcher.go
  param/parameters.go
  param/parameters_struct.go
  web_ui/authentication.go
  web_ui/authentication_test.go
  web_ui/frontend/app/(login)/login/page.tsx
  web_ui/frontend/components/Namespace/DirectorCard.tsx
Labels: enhancement, critical, director

#1154 Don't include scheme when setting XRDHOST for osdf origins
  xrootd/xrootd_config.go
  xrootd/xrootd_config_test.go
Labels: bug, critical, origin

#1157 Add support for checking a sentinel file for the cache
  cache/cache_api.go
  cache/cache_api_test.go
  docs/parameters.yaml
  launchers/cache_serve.go
  launchers/launcher.go
  param/parameters.go
  param/parameters_struct.go
  server_utils/origin.go
  server_utils/origin_test.go
Labels: enhancement, cache

#1159 Fix most if not all typos in the codebase and add `misspell` linter
  .golangci.yaml
  README.md
  broker/client.go
  classads/classads.go
  client/get_best_cache.go
  client/handle_http.go
  cmd/main.go
  cmd/origin.go
  cmd/origin_token.go
  config/config.go
  config/config_test.go
  config/csrf.go
  director/director_api_test.go
  director/director_test.go
  director/director_ui.go
  director/sort.go
  generate/param_generator.go
  launcher_utils/advertise.go
  metrics/director.go
  metrics/xrootd_metrics.go
  metrics/xrootd_metrics_test.go
  origin/origin_api.go
  registry/custom_reg_fields.go
  registry/registry.go
  registry/registry_db_test.go
  server_structs/api_resp.go
  server_utils/server_utils.go
  server_utils/test_file_transfer.go
  utils/web_utils.go
  web_ui/authentication_test.go
  web_ui/prometheus_test.go
  xrootd/origin_test.go
Labels: internal

#1172 Fix wrong information in config OAuth for the registry
  docs/pages/serving_a_federation.mdx
Labels: documentation

#1162 Deprecate OSDF/STASH environment prefix and use PELICAN
  config/config.go
  config/env.go
  config/env_test.go
Labels: critical

#1171 Fix version flag output
  .github/workflows/test.yml
  cmd/main.go
  cmd/main_test.go
  cmd/object_copy.go
  cmd/plugin.go
  config/config.go
  github_scripts/version_test.sh
  launchers/launcher.go
Labels: bug, critical

#1181 Fixing random typos in various documentation pages.
  docs/pages/client-usage.mdx
  docs/pages/grafana.mdx
  docs/pages/install/alpine.mdx
  docs/pages/install/debian.mdx
  docs/pages/install/macos.mdx
  docs/pages/serving_a_federation.mdx
Labels: documentation

#1179 Fix wrong type for integer values in requests with customized registration fields at the registry
  registry/custom_reg_fields.go
  registry/registry_ui.go
  registry/registry_ui_test.go
Labels: bug, critical, registry

#1152 Populate registry institution options by institutionsUrl in field list
  launchers/registry_serve.go
  registry/custom_reg_fields.go
  registry/custom_reg_fields_test.go
  registry/registry_db.go
  registry/registry_ui.go
  registry/registry_ui_test.go
  registry/registry_validation.go
Labels: bug, critical, registry

#1186 Change director TTL cache key from `ServerAd` to server URL
  director/advertise_test.go
  director/cache_ads.go
  director/cache_ads_test.go
  director/director.go
  director/director_api.go
  director/director_api_test.go
  director/director_test.go
  director/director_ui_test.go
  director/sort.go
  director/sort_test.go
  director/stat.go
  director/stat_test.go
  server_structs/director.go
Labels: internal, critical, director

#1176 Improve site name handling
  broker/broker_test.go
  config/config.go
  director/director.go
  launcher_utils/advertise.go
  launcher_utils/advertise_test.go
  launcher_utils/register_namespace.go
  registry/custom_reg_fields.go
  registry/registry.go
  registry/registry_db.go
  registry/registry_db_test.go
  registry/registry_test.go
  registry/registry_ui.go
  registry/registry_ui_test.go
  registry/registry_validation_test.go
  server_structs/registry.go
Labels: enhancement, cache, origin, director
