Repository PelicanPlatform/pelican, pull requests merged in 2024-07, with the labels that each got.

#1465 Retry auth endpoint if the `stat` timeout
  director/director_ui.go
  director/director_ui_test.go
  director/stat.go
  director/stat_test.go
Labels: bug, critical, director

#1469 Remove XRootD patches with 5.7.0 release
  github_scripts/gstream.patch
  github_scripts/gstream_clock_fix.patch
  github_scripts/gstream_enable_throttle_osx.patch
  github_scripts/osx_install.sh
  github_scripts/pelican_protocol.patch
Labels: infrastructure, critical

#1467 Update documentation for the Prometheus metrics, serving origin, token and credential generation
  docs/pages/_meta.json
  docs/pages/advanced-usage/_meta.json
  docs/pages/advanced-usage/server.mdx
  docs/pages/federating-your-data.mdx
  docs/pages/federating-your-data/_meta.json
  docs/pages/federating-your-data/generating-tokens.mdx
  docs/pages/getting-data-with-pelican/client.mdx
  docs/pages/install.mdx
  docs/pages/monitoring-pelican-services/prometheus.mdx
  docs/public/origin-dashboard-data-exports.png
  docs/public/origin-dashboard-fed-overview.png
  docs/public/origin-dashboard-graph.png
  docs/public/origin-dashboard-status.png
  docs/public/origin-web-dashboard.png
Labels: documentation

#1449 Add IP address (network) label to XRootD access metrics
  metrics/xrootd_metrics.go
  metrics/xrootd_metrics_test.go
  utils/utils.go
  utils/utils_test.go
  xrootd/resources/xrootd-cache.cfg
  xrootd/resources/xrootd-origin.cfg
Labels: enhancement

#1478 Use client IP in Gin Logger
  web_ui/ui.go
Labels: bug, client, origin, director, registry

#1432 Removed logging shoveler message at debug level and fix empty version
  metrics/shoveler.go
Labels: cache, origin

#1454 Add `stat` query to `redirectToCaches`
  director/director.go
  director/sort.go
  director/sort_test.go
  director/stat.go
Labels: critical, director

#1460 Allow registering site name as part of the auto-registration process
  cmd/registry_client.go
  launcher_utils/register_namespace.go
  launcher_utils/register_namespace_test.go
  registry/client_commands.go
  registry/client_commands_test.go
  registry/registry.go
Labels: cache, origin, registry

#1504 Update S3 backend version to v0.1.4 to fix trailing / bug in URLs
  github_scripts/osx_install.sh
  images/Dockerfile
  images/dev.Dockerfile
Labels: bug, critical, origin

#1507 Populate director information for stash:// URLs
  client/handle_http.go
  client/handle_http_test.go
Labels: bug, client

#1505 Ensure unpack directory name is correct
  cmd/plugin.go
  cmd/plugin_test.go
Labels: bug, client, critical

#1508 Check for job completion after every result
  client/handle_http.go
Labels: bug, client

#1514 Retry metadata lookup
  config/config.go
  config/config_test.go
Labels: enhancement, client

#1513 Rewrite TCP connection reset / broken pipe messages
  client/errorAccum.go
  client/handle_http.go
Labels: enhancement, client

#1518 Change copy command into get in the example to avoid confusion
  docs/pages/install.mdx
Labels: documentation

#1477 Fix various issues in `stat`
  config/resources/defaults.yaml
  director/director.go
  director/stat.go
  director/stat_test.go
  local_cache/cache_test.go
  metrics/director.go
Labels: bug, critical, director

#1510 Consider a HTTP header timeout a retryable error
  client/errorAccum.go
  client/handle_http.go
  client/handle_http_test.go
Labels: bug, client

#1457 Allow caches to pull from other caches
  director/director.go
  director/director_test.go
  director/sort.go
  director/stat.go
  docs/parameters.yaml
  fed_test_utils/fed.go
  param/parameters.go
  param/parameters_struct.go
  utils/client.go
  utils/client_test.go
  utils/utils.go
  utils/web_utils.go
  utils/web_utils_test.go
Labels: enhancement, director

#1462 Add storage type as part of serverAd and allow origin to turn off the director-based tests
  cmd/main.go
  cmd/origin.go
  config/config.go
  director/cache_ads.go
  director/director.go
  director/director_test.go
  director/director_ui.go
  docs/parameters.yaml
  generate/param_generator.go
  launcher_utils/advertise.go
  launchers/origin_serve.go
  origin/advertise.go
  origin/globus.go
  origin/origin_ui.go
  param/parameters.go
  param/parameters_struct.go
  server_structs/director.go
  server_structs/origin.go
  server_utils/monitor.go
  server_utils/origin.go
  server_utils/origin_test.go
  swagger/pelican-swagger.yaml
  xrootd/authorization_test.go
  xrootd/xrootd_config.go
Labels: enhancement, cache, origin, director

#1528 Use new Grafana dashboard
  docs/public/origin-dashboard-template.json
Labels: documentation, enhancement, origin
