Repository PelicanPlatform/pelican, pull requests merged in 2024-08, with the labels that each got.

#1529 Remove `message` label from `stat` to avoid cardinality explosion
  director/stat.go
  metrics/director.go
Labels: bug, critical, director

#1530 Updated screenshot with new Grafana dashboard origin
  docs/public/grafana-dashboard-origin.png
Labels: documentation, enhancement, origin

#1489 Implemented client version metric
  director/director.go
  director/director_test.go
  metrics/director.go
  utils/client_test.go
  utils/utils.go
Labels: enhancement, director

#1553 Switch container builds to use osg-testing instead of osg repos
  images/Dockerfile
  images/dev.Dockerfile
Labels: container

#1581 Fix topology downtime integration by using downtime URL and not ns JSON
  config/resources/osdf.yaml
  director/advertise.go
  director/advertise_test.go
  director/resources/mock_topology_downtime_template.xml
  docs/parameters.yaml
  param/parameters.go
  param/parameters_struct.go
  registry/registry_db.go
  server_structs/topology.go
  server_utils/server_utils.go
Labels: bug, critical, director
