Repository PelicanPlatform/pelican, pull requests merged in 2024-05, with the labels that each got.

#1193 Fix infinite redirect of UI init page
  web_ui/ui.go
  web_ui/ui_test.go
Labels: bug, critical, cache, origin

#1207 Update S3 plugin in containers to fix segfault
  images/Dockerfile
  images/dev.Dockerfile
Labels: bug, critical

#1195 Fix wrong type for Institution registration field in the registry
  registry/registry_ui.go
  server_structs/registry.go
Labels: bug, critical, registry

#1090 Generate public/private keys and server web ui htpasswd files
  cmd/generate.go
  cmd/generate_keygen.go
  cmd/generate_keygen_test.go
  cmd/generate_password.go
  cmd/generate_password_test.go
  cmd/generate_password_windows.go
  cmd/root.go
Labels: enhancement

#1208 Add namespaces to director UI server list API
  director/director_api.go
  director/director_api_test.go
  director/director_ui.go
  director/director_ui_test.go
  swagger/pelican-swagger.yaml
Labels: director

#1215 Overwrite topology server if there is a Pelican server with the same url
  director/cache_ads.go
  director/cache_ads_test.go
Labels: bug, critical, director

#1129 Add support for origin registration completeness status
  config/config.go
  director/director_api.go
  docs/scopes.yaml
  go.mod
  launcher_utils/register_namespace.go
  launchers/origin_serve.go
  origin/origin_api.go
  origin/origin_ui.go
  origin/reg_status.go
  origin/reg_status_test.go
  registry/client_commands_test.go
  registry/registry.go
  registry/registry_db.go
  registry/registry_db_test.go
  registry/registry_test.go
  registry/registry_ui.go
  registry/registry_ui_test.go
  registry/registry_validation.go
  server_structs/registry.go
  swagger/pelican-swagger.yaml
  token_scopes/token_scope_utils.go
  token_scopes/token_scopes.go
  web_ui/authentication_test.go
  web_ui/frontend/app/(login)/login/page.tsx
  web_ui/frontend/app/config/page.tsx
  web_ui/frontend/app/registry/cache/edit/page.tsx
  web_ui/frontend/app/registry/origin/edit/page.tsx
  web_ui/frontend/app/registry/page.tsx
  web_ui/frontend/components/layout/AuthenticatedContent.tsx
  web_ui/ui.go
  web_ui/ui_test.go
Labels: enhancement, origin, registry

#1222 `HandleDirectorTestResponse` API returns if the authentication check fails
  registry/registry_validation.go
  server_utils/monitor.go
Labels: bug, cache, origin

#1226 Add metrics to monitor director ttl cache and maps
  director/cache_ads_test.go
  director/director_api.go
  director/origin_api_test.go
  launchers/director_serve.go
  metrics/director.go
Labels: enhancement, director

#1230 Fix origin registration status not updated
  origin/reg_status.go
Labels: bug, origin

#1233 Update to new error message standard
  web_ui/frontend/app/(login)/initialization/code/page.tsx
  web_ui/frontend/app/(login)/initialization/password/page.tsx
  web_ui/frontend/app/(login)/login/page.tsx
  web_ui/frontend/app/registry/cache/edit/page.tsx
  web_ui/frontend/app/registry/components/Form.tsx
  web_ui/frontend/app/registry/components/util.tsx
  web_ui/frontend/components/Config/util.ts
  web_ui/frontend/components/DataExportTable.tsx
  web_ui/frontend/components/FederationOverview.tsx
  web_ui/frontend/components/Namespace/DirectorCard.tsx
  web_ui/frontend/components/ServerTable.tsx
  web_ui/frontend/components/StatusBox.tsx
  web_ui/frontend/components/layout/Sidebar/UserMenu.tsx
  web_ui/frontend/helpers/util.tsx
Labels: critical

#1237 Fix "memory leak" at the director
  web_ui/prometheus.go
Labels: bug, critical, director

#1242 Fix director bug in looking up prefix for cache
  cache/advertise.go
  director/director.go
  director/director_test.go
  origin/advertise.go
  registry/registry.go
  server_structs/director.go
  web_ui/frontend/app/registry/components/util.tsx
Labels: bug, critical, director

#1260 Fetch topology downtime for cache servers
  director/advertise.go
  director/advertise_test.go
  director/cache_ads.go
  director/director_api.go
  director/director_ui.go
  launchers/director_serve.go
  registry/registry_db.go
  utils/web_utils.go
Labels: bug, critical, director

#1280 Fix cache self-test failure
  cache/cache.go
  cache/cache_api.go
  cache/cache_api_test.go
  cache/self_monitor.go
  client/fed_test.go
  cmd/fed_serve_cache_test.go
  config/config.go
  fed_test_utils/fed.go
Labels: bug, cache

#1284 Fix issuer for self-monitoring and scitokens issuer name
  origin/self_monitor.go
  server_utils/server_utils.go
  xrootd/authorization.go
  xrootd/resources/test-scitokens-monitoring.cfg
Labels: bug, origin

#1276 Aggregate gin routes for Prometheus metrics
  web_ui/ui.go
  web_ui/ui_test.go
Labels: bug, enhancement, director

#1291 Add http backend to origin data export API
  docs/parameters.yaml
  origin/origin_ui.go
  server_utils/origin.go
  swagger/pelican-swagger.yaml
Labels: enhancement, origin

#1304 Reduce number of caches in `Link` header on director cache redirects to 6
  director/advertise_test.go
  director/director.go
  director/director_test.go
  director/resources/mock_topology.json
Labels: director

#1288 Bump base os to el9, use osg 23 main repo, and fix maven vulnerability
  images/Dockerfile
  images/dev.Dockerfile
Labels: infrastructure, container

#1298 Check uniqueness of option names for custom registration fields
  registry/custom_reg_fields.go
  registry/custom_reg_fields_test.go
Labels: enhancement, registry

#1300 Tune up file transfer tests
  cache/self_monitor.go
  director/cache_monitor.go
  director/director.go
  director/director_test.go
  director/monitor.go
  origin/self_monitor.go
  server_utils/test_file_transfer.go
  xrootd/origin_test.go
Labels: internal, cache, origin, director

#1295 Display legacy namespace registrations in the registry web UI
  registry/custom_reg_fields.go
  registry/registry_db.go
  registry/registry_db_test.go
  registry/registry_test.go
  registry/registry_ui.go
  registry/registry_ui_test.go
  swagger/pelican-swagger.yaml
  test_utils/utils.go
Labels: bug, registry

#1253 Add link to OpenAPI page on the UI
  web_ui/frontend/components/layout/Sidebar/SpeedDial.tsx
Labels: enhancement
