Repository PelicanPlatform/pelican, pull requests merged in 2024-06, with the labels that each got.

#1362 Add contributing guide
  CONTRIBUTE.md
  dev/dev_pelican.yaml
  dev/devcontainer.json
  docs/images/dev-container-bl-icon.png
  docs/images/dev-container-copy-config.png
  docs/images/dev-container-folder.png
  docs/images/dev-container-loading.png
  docs/images/dev-container-reopen.png
  docs/images/dev-container-status.png
  docs/images/dev-container.png
  docs/images/docker-startup.png
  docs/images/vscode-start-terminal.png
  docs/images/vscode-ws-after-config.png
  go.mod
Labels: documentation, critical

#1371 Cleanup a few deprecation warnings from the old Federation.NamespaceUrl config key
  config/config.go
  config/config_test.go
Labels: client, cache, origin, director, registry

#1381 Update client docs - new PR
  docs/pages/_meta.json
  docs/pages/client-usage.mdx
  docs/pages/client_usage.mdx
  docs/pages/getting_started/_meta.json
  docs/pages/getting_started/access_data.mdx
  docs/public/cilogon.png
Labels: documentation

#1392 Update `/director_ui/server` response and fixed director health status being `Unknown`
  director/cache_ads.go
  director/cache_ads_test.go
  director/director.go
  director/director_api.go
  director/director_ui.go
  director/director_ui_test.go
  director/monitor.go
  director/sort_test.go
  swagger/pelican-swagger.yaml
Labels: bug, director

#1390 Fix tests for GeoIP overrides
  director/resources/geoip_overrides.yaml
  director/sort_test.go
Labels: bug

#1366 Start phasing out NamespaceAdV2.PublicRead in favor of NamespaceAdV2.Caps.PublicReads
  director/advertise.go
  director/advertise_test.go
  director/cache_ads_test.go
  director/director.go
  director/director_api_test.go
  director/director_test.go
  server_structs/director.go
  server_structs/director_test.go
  xrootd/authorization.go
  xrootd/authorization_test.go
Labels: internal, origin, director

#1313 Add "Continue" method for config file patching
  config/config.go
  config/config_test.go
  docs/parameters.yaml
  param/parameters.go
  param/parameters_struct.go
Labels: enhancement

#1388 Update Director responses and client handling
  client/director.go
  director/director.go
Labels: bug, client

#1403 Plugin fix wrong start time - New PR
  client/handle_http.go
  cmd/plugin.go
  cmd/plugin_test.go
  cmd/resources/test-https-origin.yml
Labels: bug, client

#1409 Update XRootD S3/HTTP plugins to v0.1.3 in containers
  github_scripts/osx_install.sh
  images/Dockerfile
  images/dev.Dockerfile
Labels: critical

#1412 Consolidate multi-export topology origins
  director/advertise.go
  director/advertise_test.go
Labels: bug, critical, director

#1377 Add mechanism to change authfile reload intervals
  config/resources/defaults.yaml
  docs/parameters.yaml
  param/parameters.go
  param/parameters_struct.go
  xrootd/resources/xrootd-cache.cfg
  xrootd/resources/xrootd-origin.cfg
  xrootd/xrootd_config.go
  xrootd/xrootd_config_test.go
Labels: enhancement, critical, cache

#1415 Fix only one namespace read from topology cache
  director/advertise.go
  director/advertise_test.go
  director/director_test.go
  director/resources/multi_export_topology.json
Labels: bug, critical, director

#1416 Add bearer token config to HTTP backends for Globus compat
  docs/parameters.yaml
  origin/globus.go
  origin/globus_client.go
  param/parameters.go
  param/parameters_struct.go
  xrootd/resources/xrootd-origin.cfg
  xrootd/xrootd_config.go
Labels: enhancement, critical, origin

#1221 Collect origin/cache server load metric from xrootd g-stream and use it for calculating redirect priority
  director/advertise.go
  director/advertise_test.go
  director/cache_ads.go
  director/director.go
  director/director_api.go
  director/director_api_test.go
  director/director_ui.go
  director/prom_query.go
  director/prom_query_test.go
  director/resources/promql_matrix.json
  director/resources/promql_scalar.json
  director/resources/promql_string.json
  director/resources/promql_vector.json
  director/sort_algorithms.go
  github_scripts/gstream.patch
  github_scripts/gstream_clock_fix.patch
  github_scripts/gstream_enable_throttle_osx.patch
  github_scripts/osx_install.sh
  images/Dockerfile
  launchers/director_serve.go
  metrics/xrootd_metrics.go
  registry/client_commands.go
  server_structs/director.go
  swagger/pelican-swagger.yaml
  xrootd/resources/xrootd-cache.cfg
  xrootd/resources/xrootd-origin.cfg
  xrootd/xrootd_config_test.go
Labels: enhancement, critical, director

#1393 Client listing branch
  client/director.go
  client/fed_test.go
  client/handle_http.go
  client/handle_http_test.go
  client/main.go
  client/resources/test-https-origin.yml
  cmd/object_ls.go
  utils/web_utils.go
Labels: enhancement, client, critical

#1273 Update installation pages
  docs/pages/install.mdx
  docs/pages/install/_meta.json
  docs/pages/install/alpine.mdx
  docs/pages/install/debian.mdx
  docs/pages/install/docker.mdx
  docs/pages/install/linux-binary.mdx
  docs/pages/install/macos.mdx
  docs/pages/install/rhel.mdx
  docs/pages/install/windows.mdx
Labels: documentation

#1379 Director enhancements
  web_ui/frontend/README.md
  web_ui/frontend/app/director/components/DirectorCard.tsx
  web_ui/frontend/app/director/components/DirectorCardList.tsx
  web_ui/frontend/app/director/components/DirectorDropdown.tsx
  web_ui/frontend/app/director/components/index.tsx
  web_ui/frontend/app/director/page.tsx
  web_ui/frontend/app/registry/components/CustomRegistrationField/index.d.ts
  web_ui/frontend/app/registry/components/Form.tsx
  web_ui/frontend/app/registry/components/PostPage.tsx
  web_ui/frontend/app/registry/components/PutPage.tsx
  web_ui/frontend/app/registry/components/util.tsx
  web_ui/frontend/app/registry/denied/page.tsx
  web_ui/frontend/app/registry/page.tsx
  web_ui/frontend/components/AlertPortal.tsx
  web_ui/frontend/components/BooleanToggleButton.tsx
  web_ui/frontend/components/CapabilitiesDisplay.tsx
  web_ui/frontend/components/CardList.tsx
  web_ui/frontend/components/DataExportTable.tsx
  web_ui/frontend/components/DirectoryTree.tsx
  web_ui/frontend/components/Dropdown.tsx
  web_ui/frontend/components/InformationSpan.tsx
  web_ui/frontend/components/Main.d.ts
  web_ui/frontend/components/Namespace/Card.tsx
  web_ui/frontend/components/Namespace/CardList.tsx
  web_ui/frontend/components/Namespace/DeniedCard.tsx
  web_ui/frontend/components/Namespace/InformationDropdown.tsx
  web_ui/frontend/components/Namespace/NamespaceCardList.tsx
  web_ui/frontend/components/Namespace/PendingCard.tsx
  web_ui/frontend/components/Namespace/index.d.tsx
  web_ui/frontend/components/Namespace/index.tsx
  web_ui/frontend/components/index.ts
  web_ui/frontend/index.d.ts
  web_ui/frontend/package-lock.json
  web_ui/frontend/package.json
Labels: enhancement, director

#1400 Client `stat` branch
  client/fed_test.go
  client/handle_http.go
  client/handle_ingest.go
  client/main.go
  cmd/object_stat.go
  local_cache/local_cache.go
Labels: enhancement, client, critical

#1410 Updating `pelican_director_total_advertisements_received` to a better name and to include the namespace prefix as a label
  director/director.go
  metrics/director.go
Labels: enhancement, director

#1421 Fix golangci linter on imports
  .github/workflows/pre-commit-linter.yml
  director/prom_query_test.go
Labels: bug, infrastructure

#1422 Fix broken image link and wider image row for overview images
  docs/pages/index.mdx
  docs/public/arch-origin-discovery.png
  docs/public/arch-origin-registration.png
Labels: bug, documentation

#1436 Add two Prometheus metrics for director `stat` queries
  director/monitor.go
  director/stat.go
  metrics/director.go
Labels: critical, director

#1442 Add pprof endpoints
  docs/parameters.yaml
  param/parameters.go
  param/parameters_struct.go
  web_ui/pprof.go
  web_ui/ui.go
Labels: internal, critical

#1439 Fix deadlock in `recordAd` and `LaunchTTLCache` and add support to turn off `stat`
  config/resources/defaults.yaml
  director/cache_ads.go
  director/director.go
  director/director_api.go
  docs/parameters.yaml
  param/parameters.go
  param/parameters_struct.go
Labels: critical, director

#1430 Add OSDF Institution Count Metric Collection
  launchers/registry_serve.go
  metrics/registry.go
  registry/registry_api.go
Labels: enhancement, cache, origin

#1450 Fix health test deadlock
  director/cache_ads.go
  director/director_api.go
  director/stat.go
Labels: bug, critical, director

#1451 Upgrade viper to handle unmarshaling env into nested struct
  config/config.go
  go.mod
  go.sum
Labels: bug, critical

#1423 Docs folder update
  docs/pages/_meta.json
  docs/pages/core-concepts.mdx
  docs/pages/federating-your-data.mdx
  docs/pages/federating-your-data/_meta.json
  docs/pages/federating-your-data/s3-backend.mdx
  docs/pages/getting-data-with-pelican/_meta.json
  docs/pages/getting-data-with-pelican/client.mdx
  docs/pages/getting-started/_meta.json
  docs/pages/getting-started/access-data.mdx
  docs/pages/getting-started/accessing-data.mdx
  docs/pages/index.mdx
  docs/pages/install.mdx
  docs/pages/install/alpine.mdx
  docs/pages/install/debian.mdx
  docs/pages/install/linux-binary.mdx
  docs/pages/install/macos.mdx
  docs/pages/install/rhel.mdx
  docs/pages/install/windows.mdx
  docs/pages/monitoring-pelican-services/_meta.json
  docs/pages/monitoring-pelican-services/grafana.mdx
  docs/pages/monitoring-pelican-services/prometheus.mdx
  docs/pages/operating-a-federation.mdx
  docs/pages/operating-a-federation/_meta.json
  docs/pages/operating-a-federation/cache.mdx
  docs/pages/operating-a-federation/director.mdx
  docs/pages/operating-a-federation/registry.mdx
  docs/pages/serving-a-federation.mdx
  docs/parameters.yaml
Labels: documentation
