Repository PelicanPlatform/pelican, pull requests merged in 2025-09, with the labels that each got.

#2598 Use namespace prefix token issuer as X-Pelican-Token-Generation issuer
  docs/parameters.yaml
  origin/advertise.go
Labels: enhancement, origin, security, configuration, create-patch

#2597 xrdcl-pelican metrics
  config/config.go
  docs/parameters.yaml
  launchers/cache_serve.go
  metrics/xrdcl_curl_stats.go
  metrics/xrootd_metrics.go
  param/parameters.go
  param/parameters_struct.go
  xrootd/launch.go
Labels: enhancement, cache, monitoring

#2612 Comment out the Federation.DiscoveryUrl from `/etc/pelican/config.d/10-federation.yaml` from the `pelican-server` RPM
  systemd/examples/10-federation.yaml
Labels: bug, packaging

#2593 Token fetch command
  client/acquire_token.go
  client/bearer_auth.go
  client/bearer_auth_test.go
  client/handle_http.go
  client/handle_http_test.go
  client/main.go
  client/main_test.go
  cmd/token.go
  go.mod
  go.sum
Labels: enhancement, client, critical

#2632 Add push to release action
  .github/workflows/release.yml
Labels: bug

#2411 Support multiple keys in string encrypt/decrypt functions
  config/encrypted.go
  config/encrypted_test.go
  config/init_server_creds.go
  origin/origin_db.go
Labels: origin

#2609 Use jwk.Equal() instead of JSON string comparison for super/sub spaces key matching
  registry/registry.go
Labels: bug, origin, registry

#2655 Client/Plugin deadlock fix
  client/handle_http.go
  cmd/plugin.go
Labels: bug, client, critical, plugin, create-patch

#2662 Fix Cache eviction monitoring interval to be reasonable
  config/config.go
Labels: bug, critical, cache, monitoring, create-patch

#2618 Groups-Collections Authorization Integration
  database/collection.go
  oa4mp/proxy.go
  oa4mp/resources/policies.qdl
  oa4mp/serve.go
  web_ui/oauth2_client.go
Labels: enhancement, origin

#2647 Overhaul the Director's sorting algorithms
  .github/workflows/pre-commit-linter.yml
  config/resources/defaults.yaml
  director/cache_ads.go
  director/director_api.go
  director/director_ui.go
  director/maxmind.go
  director/sort.go
  director/sort_algorithms.go
  director/sort_algorithms_test.go
  director/sort_test.go
  director/sort_utilities.go
  director/sort_utilities_test.go
  docs/parameters.yaml
  fed_test_utils/fed.go
  go.mod
  go.sum
  metrics/director.go
  param/parameters.go
  param/parameters_struct.go
  server_structs/director.go
Labels: internal, critical, director, monitoring

#2650 Take out the script that auto formats webUI PR from GitHub Actions
  .github/workflows/format-fix.yml
Labels: bug

#2676 Fix default Cache.ClientStatisticsLocation in docs
  docs/parameters.yaml
Labels: documentation, cache

#2675 Update the GeoIpOverride Table
  web_ui/frontend/app/director/components/GeoIpErrorTable.tsx
  web_ui/frontend/app/director/components/index.tsx
  web_ui/frontend/app/director/page.tsx
  web_ui/frontend/components/GeoIpErrorDisplay/GeoIpErrorDisplay.tsx
  web_ui/frontend/components/GeoIpErrorDisplay/GeoIpErrorTable.tsx
  web_ui/frontend/components/GeoIpErrorDisplay/StyledTableCell.tsx
  web_ui/frontend/components/GeoIpErrorDisplay/getLastOverDay.ts
  web_ui/frontend/components/GeoIpErrorDisplay/getOverriddenGeoIps.ts
  web_ui/frontend/components/GeoIpErrorDisplay/index.ts
  web_ui/frontend/components/GeoIpErrorDisplay/types.ts
  web_ui/frontend/components/index.ts
Labels: enhancement, web-ui

#2682 Bump xrootd-s3-http to latest released version
  client/fed_test.go
  github_scripts/osx_install.sh
  images/Dockerfile
Labels: internal, dependencies, origin, container

#2686 Allow for unset issuer group source
  docs/parameters.yaml
  oa4mp/serve.go
  web_ui/oauth2_client.go
Labels: bug, web-ui, create-patch
