Repository PelicanPlatform/pelican, pull requests merged in 2025-08, with the labels that each got.

#2541 Fix the bug that Pelican `config` CLI tool does not take env vars into account
  cmd/config_printer/utils.go
  config/config.go
  go.mod
Labels: bug, client, create-patch

#2536 Fix deadlock where `results` channel is not read after cancellation
  client/handle_http.go
Labels: bug, client, create-patch

#2546 Fix checksum requirements on `put`
  client/handle_http.go
  client/handle_http_test.go
Labels: bug, client, create-patch

#2559 New error classification for slow Origins
  cmd/plugin.go
Labels: enhancement, client

#2570 Bump version of xrdcl-pelican to 1.4.2
  github_scripts/osx_install.sh
  images/Dockerfile
Labels: cache

#2480 Prevent overwriting objects at upload
  client/fed_long_test.go
  client/fed_test.go
  client/handle_http.go
  client/handle_http_test.go
Labels: bug, enhancement, client

#2560 Allow for Client to recursively download to `/dev/null`
  client/fed_long_test.go
  client/handle_http.go
Labels: bug, client

#2578 Bump xrdcl-pelican version to 1.5.1
  github_scripts/osx_install.sh
  images/Dockerfile
Labels: critical, container, configuration

#2572 Set `http.maxwait` in XRootD configuration
  config/config.go
  docs/parameters.yaml
  param/parameters.go
  param/parameters_struct.go
  xrootd/resources/xrootd-cache.cfg
  xrootd/resources/xrootd-origin.cfg
  xrootd/xrootd_config.go
Labels: enhancement, cache, origin

#2567 Restart Pelican when SIGHUP is received
  daemon/launch_unix.go
  launchers/launcher.go
Labels: bug

#2552 Add work flow to close stale issues
  .github/workflows/enforce-issue-labelling.yml
  .github/workflows/stale-issues.yml
Labels: enhancement, infrastructure

#2589 Fix duplicate name handling in the registration process
  broker/broker_test.go
  registry/client_commands_test.go
  registry/registry.go
  registry/registry_db.go
  registry/registry_db_server_test.go
  registry/registry_db_test.go
  registry/registry_ui.go
  registry/registry_ui_test.go
Labels: registry, create-patch
