Repository PelicanPlatform/pelican, pull requests merged in 2025-05, with the labels that each got.

#2286 RPM: Specify pre-install script requirements by binary instead of by containing package
  .goreleaser.yml
Labels: bug, create-patch

#2280 Toggle origin/cache downtimes in director correctly
  director/director.go
  director/director_test.go
Labels: bug, director, create-patch

#2290 Don't refresh expiration on serverAds.Get()
  config/config.go
  director/cache_ads.go
  director/director_api.go
  go.mod
Labels: bug, director, create-patch

#2219 Client uses token issuer as selection criteria during token selection process
  client/acquire_token.go
Labels: bug, client, plugin

#2121 Re-key the card list items
  web_ui/frontend/app/director/components/DirectorCardList.tsx
  web_ui/frontend/app/director/components/NamespaceCardList.tsx
  web_ui/frontend/app/settings/api/components/TokenList.tsx
  web_ui/frontend/components/CardList.tsx
  web_ui/frontend/components/Downtime/DowntimeCardList.tsx
  web_ui/frontend/components/Namespace/NamespaceCardList.tsx
  web_ui/frontend/components/layout/Navigation/Navigation.tsx
  web_ui/frontend/helpers/util.ts
Labels: bug

#2223 Accept SciTokens-profile JWT
  client/acquire_token.go
  client/main_test.go
Labels: bug, client, critical, plugin, create-patch

#2270 Properly handle the trailing`/` in namespace registration and advertisement
  director/director.go
  registry/registry.go
  registry/registry_validation.go
  server_utils/origin.go
  server_utils/origin_test.go
  server_utils/resources/posix-origins/multi-export-trailing-slash.yml
Labels: bug, internal, registry

#2308 A wider test downtime window to avoid flaky test
  director/director_test.go
Labels: bug, test

#2298 Overhaul & Modernize Origin page
  docs/pages/federating-your-data.mdx
  docs/pages/federating-your-data/_meta.json
  docs/pages/federating-your-data/origin.mdx
  docs/public/federating-your-data/browser-registration.png
  docs/public/federating-your-data/invalid_certificate.png
  docs/public/federating-your-data/origin-dashboard-data-exports.png
  docs/public/federating-your-data/origin-dashboard-fed-overview.png
  docs/public/federating-your-data/origin-dashboard-graph.png
  docs/public/federating-your-data/origin-dashboard-status.png
  docs/public/federating-your-data/origin-otp.png
  docs/public/federating-your-data/origin-setup-password.png
  docs/public/federating-your-data/origin-web-dashboard.png
  docs/public/federating-your-data/registration-button.png
Labels: documentation, origin

#2317 Build a "debug" RPM for the Pelican client
  .goreleaser.yml
  images/Dockerfile
Labels: infrastructure, internal, user-request, create-patch

#2331 Bump purego version to v0.8.3
  go.mod
  go.sum
Labels: bug, dependencies, lotman

#2323 Bugfix for downtime handling in Director
  config/config.go
  director/cache_ads.go
  director/director_test.go
Labels: bug, director

#2322 Fix rate and progress calculations
  client/handle_http.go
  config/config.go
  config/resources/defaults.yaml
  docs/parameters.yaml
  param/parameters.go
  param/parameters_struct.go
Labels: bug, client, create-patch

#2340 Bump containerized XRootD version to v5.8.2-1.5
  github_scripts/osx_install.sh
  images/Dockerfile
Labels: dependencies, container

#2120 Resolve the cache self test failure when drop privs is enabled
  cache/cache_api.go
  cache/cinfo.go
  config/config.go
  launchers/cache_serve.go
  launchers/origin_serve.go
  origin/self_monitor.go
  xrootd/launch.go
  xrootd/self_monitor.go
  xrootd/xrootd_config.go
Labels: bug, cache

#2342 Bump containerized xrdcl-pelican to v1.2.3
  github_scripts/osx_install.sh
  images/Dockerfile
Labels: dependencies, cache, container

#2345 Disable write and listing capabilities for Globus endpoint origins
  server_utils/origin_globus.go
  server_utils/origin_test.go
  server_utils/resources/globus-origins/multi-export-valid.yml
  server_utils/resources/globus-origins/single-export-valid.yml
Labels: enhancement, origin

#2132 Auto add the current user as the security contact in new namespace
  web_ui/frontend/app/registry/components/Form.tsx
Labels: enhancement

#2338 Add health status to server ads and use to report high concurrency in origins/caches
  cache/advertise.go
  director/director.go
  director/director_api.go
  director/director_ui.go
  launcher_utils/advertise.go
  launchers/cache_serve.go
  launchers/origin_serve.go
  metrics/health.go
  metrics/health_test.go
  origin/advertise.go
  server_structs/director.go
  server_utils/prom_query.go
  server_utils/prom_query_test.go
  server_utils/resources/promql_matrix.json
  server_utils/resources/promql_scalar.json
  server_utils/resources/promql_string.json
  server_utils/resources/promql_vector.json
  server_utils/server_utils.go
Labels: enhancement, cache, origin, director, monitoring

#2343 Use proper name from registry when requesting federation tokens
  broker/client.go
  broker/server_apis.go
  cache/advertise.go
  director/director.go
  docs/parameters.yaml
  e2e_fed_tests/director_test.go
  e2e_fed_tests/downtime_test.go
  launchers/cache_serve.go
  server_structs/xrootd_server.go
  server_structs/xrootd_server_test.go
  server_utils/server_utils.go
  server_utils/sitename.go
Labels: bug, critical, cache, origin, security, create-patch

#2368 Bump containerized xrootd-s3-http plugin version to 0.4.1
  github_scripts/osx_install.sh
  images/Dockerfile
Labels: bug, dependencies, origin, container, create-patch
