Repository PelicanPlatform/pelican, pull requests merged in 2025-06, with the labels that each got.

#2357 Fix other flaky downtime subtests
  director/director_test.go
Labels: bug, test

#2372 Updated runPut to mimic downloadHttp's proxy logic
  client/handle_http.go
  client/handle_http_test.go
Labels: bug, client, critical

#2291 Handle directories permission denied error in drop privs mode
  cmd/generate_password.go
  config/config.go
  config/init_server_creds.go
  config/mkdirall.go
  xrootd/authorization.go
  xrootd/launch.go
  xrootd/self_monitor.go
  xrootd/xrootd_config.go
Labels: bug, cache, origin

#2318 Graceful shutdown an Origin or Cache
  config/config.go
  daemon/launch_unix.go
  director/cache_ads.go
  director/director.go
  director/director_api.go
  docs/parameters.yaml
  launchers/launcher.go
  metrics/health.go
  metrics/health_test.go
  param/parameters.go
  param/parameters_struct.go
  server_structs/director.go
  web_ui/frontend/app/config/components/RestartBox.tsx
Labels: critical, cache, origin, director

#2418 Support key files with `.jwk` extension in `IssuerKeysDirectory`
  config/init_server_creds.go
Labels: internal, create-patch

#2417 Correctly scope permission modification of LotHome directory
  lotman/lotman_linux.go
Labels: bug, cache, lotman, create-patch

#2258 Ensure test is properly shut down on failure
  cmd/plugin_test.go
Labels: test, internal

#2420 Move keyring errors behind debug log level
  config/encrypted.go
Labels: client

#2426 Increase maximum checksum jobs to 10
  xrootd/resources/xrootd-origin.cfg
Labels: enhancement, origin

#2435 Trim trailing '/' from federation-derived lot paths
  lotman/lotman_linux.go
Labels: bug, cache, lotman, create-patch

#2452 Make docs background white
  docs/app/layout.tsx
Labels: enhancement
